body
{
	background-image: url("/home/joe2/Web/eclipse-web-workspace/test1/WebContent/assets/images/background1.jpg");
	background-color: #0C004C;
	margin: 0px auto;
	width: 100%;
	min-height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

h2
{
	font-size: 30pt;
	padding: 10px;
}

.holder
{
	position: static;
	height: 110px;
	width: auto;
}

.pageM
{
	background: rgba(47, 59, 92, 0.6);
	border: 3px solid #000000;
	margin: 20px;
	z-index: 0;
    box-shadow: 8px 8px 6px 0px rgba(220, 220, 250, 0.5);
    margin-top: 50px;
}

.navBar
{
	width: 100%;
	position: fixed;
	z-index: 998;
	
}



.logo
{
	position: absolute;
	border: 3px solid #000000;
	border-radius: 15px;
	z-index: 999 !important;
	background-color: rgba(220, 220, 250, 0.8);
}

.logo img
{
	float: left;
	height: 130px;
	z-index: inherit;
}

.logo:hover
{
	background-color: rgba(220, 220, 250, 0.7);
}

.buttons
{
	width: 100%;
	float: right;
}

.buttons a
{
	border: 3px solid #000000;
	border-radius: 15px;
	float: right;
	color: #000000;
	opacity: 1;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: rgba(220, 220, 250, 0.9);
	opacity: 0.5;
	z-index: inherit;
}

.buttons a:hover
{
	background-color: rgba(220, 220, 250, 0.7);
}

.mainSection
{
	position: static;
	padding-top: 10px;
	z-index: 10;
}

.mainSection h2
{
	text-align: center;
}

.msBox
{
	margin: 30px;
	border: 3px solid #ffffff;
	padding: 30px;
	border-radius: 15px;
/* 	background-color: rgba(85, 87, 83, .9); */
	z-index: inherit;
	background: rgba(99,112,151,1);
	background: -moz-linear-gradient(top, rgba(99,112,151,1) 0%, rgba(145,157,186,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(99,112,151,1)), color-stop(100%, rgba(145,157,186,1)));
	background: -webkit-linear-gradient(top, rgba(99,112,151,1) 0%, rgba(145,157,186,1) 100%);
	background: -o-linear-gradient(top, rgba(99,112,151,1) 0%, rgba(145,157,186,1) 100%);
	background: -ms-linear-gradient(top, rgba(99,112,151,1) 0%, rgba(145,157,186,1) 100%);
	background: linear-gradient(to bottom, rgba(99,112,151,1) 0%, rgba(145,157,186,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#637097', endColorstr='#919dba', GradientType=0 );
}

.msBox img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainText
{
	padding: 10px;
	background: rgba(220, 220, 220, 1);
}

.mainText p
{
	padding-bottom: 10px;
}

.pfLink a
{
	border: 3px solid #000000;
	border-radius: 15px;
	display: block;
	max-width: 200px;
	color: #000000;
	opacity: 1;
	margin: 10px;
	padding: 15px;
	background-color: rgba(220, 220, 250, 0.9);
	opacity: 0.5;
	z-index: inherit;
}

.portfolioItem
{
	
}